*{
    margin: 0;
    padding: 0;
}

html body{
    background-color: rgb(255, 255, 255);
    font-family: "Atkinson Hyperlegible", sans-serif;
}

header {
    background-image: url(./img/enc_celular.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    padding-top: 45%;
}

h1{
    display: none;
}
section{
    background-color: rgb(255, 255, 255);
    display: flex;    
    flex-direction: column;
    padding: 0 0 10px 0;
}
article{
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 135);
    
}
article img{
    display: block;
    max-height: 120px;
    object-fit: cover;
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;
}
article img:hover {
    transform: scale(1.1);
}

article.charly img:hover {
    content: url('./img/charly_v.webp');
}

article.moro img:hover {
    content: url('./img/moro_v.webp');
}

article.david img:hover {
    content: url('./img/david_v.webp');
}

article.pedro img:hover {
    content: url('./img/pedro_v.webp');
}
article .info{
    flex-grow: 1;
}
article .info h2{
    font-size: 1.2em;
    margin-bottom: 10px;
}
article .info p{
    font-size: 1em;
    line-height: 1.4;
}

footer{
    display: flex;
    background-color: rgb(170, 40, 40);
    color: white;
    height: 80px;
    align-items: center;
    padding: 12px;

}