*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-image: url(./img/enc_celular.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    padding-top: 45%;
}

h1{
    display: none;
}
section{
    background-color: blueviolet;
    display: flex;    
    flex-direction: column;
    padding: 10px 0 10px;
}
article{
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 135);
    margin-bottom: 20px;
}

article img{
    width: 100px;
    object-fit: cover;
    margin-right: 20px;
}
footer{
    background-color: brown;
}