*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-image: url(./img/enc_celular.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    padding-top: 45%;
}

h1{
    display: none;
}
.charly{
    background-color: rgb(240, 240, 135);
    height: 150px;
}